// header
$header-color: #5b4681;

// Font sizes
$base-font-size: 1.4rem; // 16 pixels;

// form inputs
$input-border: #dddddd;

// boxed view
$boxed-view-overlay-bg: #dddddd;
$boxed-view-bg: white;

// spacing
$space: 1.4rem;
$input-spacing: 1rem;

// button
$button-bg: #5b4681;
$button-color: white;
$button-pill-color: #5b4681;

// item
$item-bg: #f9f9f9;
$item-border: darken($item-bg, 8%);
$item-text-color: #777777;
