
.boxed-view {
	align-items: center;
	background: $boxed-view-overlay-bg; // ref in the _variables file!
	display: flex;
	justify-content: center;
	height: 100vh; // 100% of total height of the viewport, this makes the page view dynamic
	width: 100vw; // vw = viewport width, and height is vice versa
}

.boxed-view__box {
	background-color: $boxed-view-bg;
	padding: 2.4rem;
	text-align: center;
	width: 24rem;
}


